:root {
  font-size: 62.5%; /* (62.5/100) * 16px = 10px */
  --font-size--small: 1.4rem; /* 14px */
  --font-size--default: 1.8rem; /* 16px */
  --font-size--large: 2.4rem; /* 24px */
  --font-size--xl: 3.6rem; /* 24px */
}

::selection {
  background: yellow; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: yellow; /* Gecko Browsers */
}

html, body {
  margin: 0;
  padding: 0;
  background: #F9FAFB;
  font-family: 'Source Sans Pro', sans-serif;
  overflow-x: hidden;
}

* { box-sizing: border-box; }

img {
  border-radius: 6px;
}

img.img-left {
  float: left;
  max-width: 50%;
  margin: 16px 16px 16px 0;
}

img.img-right {
  float: right;
  max-width: 50%;
  margin: 16px 0 16px 16px;
}

img.img-center {
  float: none;
  max-width: 100%;
  margin: 16px 0 16px 0;
}

h1, h2, h3 {
  padding: 0;
  margin: 4px 0;
  color: #1F2937;
  max-width: max-content;
}

h1 {
  font-size: var(--font-size--xl);
  background: #333;
  color: #fff;
  padding: 4px 8px;
}

h2 {
  font-size: var(--font-size--large);
  margin-top: 24px;
}

h3 {
  font-size: var(--font-size--large);
}

a {
  text-decoration: none;
}

a:hover {
  color: #1D4ED8;
  text-decoration: underline;
}

a, p {
  color: #1F2937;
}

p {
  font-size: var(--font-size--default);
  line-height: 1.5;
  margin: 16px 0;
  text-indent: 36px;
}

nav {
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  width: 95vw;
  max-width: 900px;
  margin: 0 auto;
  left: 0;
  right: 0;
  position: fixed;
  top: 16px;
  height: 64px;
  border-radius: 32px;
  z-index: 10;
  background: white;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: var(--font-size--default);
}

.nav-link {
  margin: 16px;
  font-size: 20px;
}

footer {
  width: 100vw;
  text-align: center;
  margin-top: 32px;
  padding: 8px;
}

footer p {
  font-size: var(--font-size--small);
  color: #4B5563;
}

.container {
  width: 100vw;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 112px 16px 0 16px;
}

.container.home {
  max-width: 1100px;
}

.home-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  min-height: 400px;
  padding: 32px 8%;
  margin-bottom: 36px;
}

.home-card p {
  padding: 8px 0;
  font-size: 20px;
}

.home-card--left {
  display: flex;
  flex-direction: column;
  padding: 8px;
  width: 60%;
}

.home-card--right {
  display: flex;
  padding: 8px;
  width: 40%;
}

.home-card--img {
  display: flex;
  -webkit-background-size: cover; /* For WebKit*/
  -moz-background-size: cover;    /* Mozilla*/
  -o-background-size: cover;      /* Opera*/
  background-size: cover;         /* Generic*/
  width: 100%;
  height: auto;
  border-radius: 6px;
}

.home-card a {
  max-width: max-content;
  max-height: max-content;
}

.home-card a:hover {
  text-decoration: none;
}

.home-card--link {
  transition: background ease .3s;
  transition: color ease .3s;
  font-size: var(--font-size--xl);
  border: solid 2px #333;
  padding: 2px 4px;
  background: none;
  color: #1F2937;
}

.home-card--link:hover {
  background: #333;
  color: white;
}

.home-card--img.giza {
  background: url('../images/giza/city.jpg') no-repeat center center;
}

.home-card--img.nyc {
  background: url('../images/nyc/pic1.png') no-repeat center center;
}

.home-card--img.rochester {
  background: url('https://upload.wikimedia.org/wikipedia/commons/e/e9/Downtown_Rochester%2C_NY_HDR_by_patrickashley.jpg') no-repeat center center;
}

.home-card--img.sf {
  background: url('../images/sf/sf_skyscraper.jpg') no-repeat center center;
}

#giza-card {
  background: rgb(66,159,224);
  background: linear-gradient(90deg, rgb(110, 181, 231) 0%, rgb(92, 221, 180)100%);
}

#nyc-card {
  background: #d9a7c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fffcdc, #d9a7c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#rochester-card {
  background: #ff9966;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#sf-card {
  background: #FC466B;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6981ff, #FC466B);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6981ff, #FC466B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
