html, body {
  margin: 0;
  padding: 0;
  background: #F9FAFB;
  font-family: 'Source Sans Pro', sans-serif;
  overflow-x: hidden;
}

* { box-sizing: border-box; }

img {
  border-radius: 6px;
}

h1, h2, h3 {
  padding: 0;
  margin: 4px 0;
  color: #1F2937;
}

h1 {
  font-size: 2.2em;
  border: solid 2px #3B82F6;
  padding: 2px 4px;
  max-width: max-content;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1em;
}

a {
  text-decoration: none;
  transition: all ease .2s;
}

a:hover {
  color: #1D4ED8;
}

a, p {
  color: #1F2937;
}

p {
  font-size: 1.2em;
  line-height: 1.5;
}

nav {
  display: flex;
  padding: 8px 32px;
  width: 100vw;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin: 16px;
  font-size: 1.3em;
}

footer {
  width: 100vw;
  text-align: center;
  margin-top: 32px;
  padding: 8px;
}

footer p {
  font-size: .9em;
  color: #4B5563;
}

.container {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;
}

.home-card {
  margin: 8px;
  border-radius: 6px;
  padding: 8px 16px;
  background: #FFF;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}